@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 991px;
  margin: auto;
  text-align: center;
}

.header,
.footer {
  padding: 20px;
  text-align: center;
}

.header img,
.footer img {
  max-width: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

.card p {
  margin: 10px 0;
}

.page {
  background-color: white;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 20px 10px;
  cursor: pointer;
  background-color: #ad8524;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #ad8524;
}
form {
  margin-bottom: 20px;
  width: 800px;
}

form h2 {
  margin-top: 0;
}
input,
.button {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ad8524;
  border-radius: 5px;
}
.colorswitch {
  display: flex;
  width: 100px;
  padding: 0px;
  margin: 5px 0;
  border: 1px solid #ad8524;
  border-radius: 5px;
}
/*config do site*/
body.darkmode {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content a,
.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  color: #ad8524;
  text-decoration: none;
}
label {
  color: #ad8524;
}
input {
  color: #ad8524;
  text-decoration: none;
}

header {
  background-color: black;
  position: relative;
  width: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
}
.content {
  border: #ad8524 solid 3px;
  padding: 10px;
  margin: 5px;
}

footer {
  background-color: black;
}
/*fechamento dark*/
