@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&family=Kadwa:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gugi&family=Kadwa:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&display=swap);
@font-face {
  font-family: New Amsterdam;
  src: url(/src/fonts/NewAmsterdam-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
.loading {
  text-align: center;
  font-size: 18px;
  color: #888;
}

html,
body {
  scroll-behavior: smooth;
}
div {
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}
input {
  width: 100%;
}
.colorswitch {
  width: 10%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 142px;
  height: 268px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

.card p {
  margin: 10px 0;
}
.button {
  border: 1px solid #eaf6fe;
  width: 115%;
}
.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}
.page {
  width: 210mm; /* Largura A4 */
  height: 297mm; /* Altura A4 */
  overflow: hidden; /* Para esconder o conteúdo que não cabe */
  position: relative;
  border: 3px black solid;
}
.pageCards {
  width: 794px;
  max-height: 2046px;
  border: 3px black solid;
}
form {
  width: 800px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logoheader {
  width: 15%;
  height: auto;
  margin: 5px;
}
.logoimg {
  width: 100%;
  height: auto;
}

.sub-container-config {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4%;
  border-radius: 20px;
  background-color: #bfdbfe;
  width: 100%;
  height: 500%;
}

.container-filesF {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 25px 0px;
  gap: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  width: 120px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%); /* Ajuste para centralizar a tooltip */
  margin-left: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.custom-file-upload {
  display: inline-block;
  padding: 0px 15px 3px 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #007bff; /* Cor do botão */
  border-radius: 10%; /* Para criar o botão circular */
  border: solid white 3px;
  cursor: pointer;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

.custom-file-upload span {
  height: 10px;
  font-size: 30px; /* Tamanho do ícone "+" */
  vertical-align: middle;
}

input[type="file"] {
  display: none;
}

.bg-color1opct40 {
  background-color: rgb(0, 38, 57, 0.4);
}
.bg-color1 {
  background-color: #002639;
}
.bg-color2 {
  background-color: #004b6b;
}
.color2 {
  color: #004b6b;
}
.bg-color3,
.darkmode {
  background-color: #eaf6fe;
}
.bgimage {
  background-image: url(./img/bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 40px;
  height: auto;
}
/* fonts*/
.new-amsterdam-regular {
  font-family: New Amsterdam, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kadwa-regular {
  font-family: Kadwa, serif;
  font-weight: 400;
  font-style: normal;
}

.kadwa-bold {
  font-family: Kadwa, serif;
  font-weight: 700;
  font-style: normal;
}

.gugi-regular {
  font-family: Gugi, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit-thin {
  font-family: Kanit, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: Kanit, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: Kanit, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: Kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: Kanit, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: Kanit, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: Kanit, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: Kanit, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: Kanit, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: Kanit, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: Kanit, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: Kanit, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: Kanit, sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: Kanit, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: Kanit, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: Kanit, sans-serif;
  font-weight: 900;
  font-style: italic;
}
/*DASHBOARDCSS*/
.dashboard {
  background-color: #1724d8;
  width: 100%;
  border: 2px solid #1724d8;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.grafico {
  background-color: #ddd;
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  text-align: center;
}
/*DASHBOARDCSS*/
